.container {
  display: flex;
  flex-direction: row;
  background-color: $color-skyblue;
  main {
    flex: 1;

    .main-title {
      text-transform: uppercase;
      font-size: 1rem;
      font-family: $font-quantico;
      font-weight: 200;
    }

    .dataset {
      border: 1px solid $color-lightgray;
      margin: 20px;
    }

    .product-name {
      font-size: 1.2rem;
      font-family: $font-quantico;
      color: $color-deepcyan;
      background-color: $color-white;
      margin: 0;
      padding: 20px;
      border-bottom: 1px solid $color-lightgray;

      a {
        float: right;
        color: $color-bostonblue;
        text-decoration: none;

        &:visited, &:hover, &:active {
          border-bottom: 1px solid $color-bostonblue;

        }
      }
    }
  }
}
