nav {
  color: $color-white;
}

.first-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $color-darkteal;

  height: 60px;
  font-family: 'Source Sans Pro', sans-serif;

  &__left {
    display: flex;
    align-items: center;
    height: 100%;

    .menu-button {
      height: 100%;
      display: flex;
      align-items: center;

      padding: 0 20px;
      font-size: 26px;
      border-right: 1px solid $color-lightteal;
    }

    .tab {
      padding: 0 20px;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .tab-active {
      background-color: $color-lightteal;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    height: 100%;
    .tab {
      padding: 0 10px;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.second-nav {
  display: flex;
  align-items: center;
  background-color: $color-lightteal;
  margin: 0;
  height: 100px;
  font-size: 25px;
  letter-spacing: 1.2;
  font-family: 'Quantico', sans-serif;
  padding: 0 20px;

  h2 {
    padding-left: 15px;
    font-weight: 300;
  }
}
