$color-white: white;

$color-lightgray: #d2d7dc;
$color-mediumgray: #9B9FA6;

$color-skyblue: #f6fafd;
$color-deepcyan: #0e3344;
$color-bostonblue: #3d99b9;
$color-slateblue: #336774;
$color-darkblue: #194959;

$color-lightteal: #214e5b;
$color-teal: #47a1bd;
$color-green: #53b68f;

$font-quantico: 'Quantico', sans-serif;
