<!-- Nav bar on index/main page -->

<nav>
    <div class="first-nav">
      <span class="first-nav__left">
        <div class="menu-button"><i class="fas fa-bars"></i></div>
        <div class="tab">ALTERNATIVE DATA</div>
        <div class="tab tab-active">CORE FINANCIAL DATA</div>
      </span>
      <span class="first-nav__middle"><img src = 'assets/quandl-logo.svg'></span>
      <span class="first-nav__right">
        <div class="tab">DOCS & HELP</div>
        <div class="tab">BLOG</div>
        <div class="tab">SIGN IN</div>
      </span>
    </div>
    <div class="second-nav">
      <i class="fas fa-chart-bar fa-2x"></i>
      <h2> Data Publisher </h2>
    </div>
</nav>

{{outlet}}
